html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  padding-top: 36px;
  padding-bottom: 32px;
}

.navigation {
  float: right;
  /* background-color: tomato; */
}

.logo {
  /* display: inline-block; */
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
  letter-spacing: -0.6px;
  float: left;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation__list {
  float: right;
  margin-top: 4px;
  /* background-color: violet; */
}

.navigation__list-item {
  float: left;
}

.navigation__list-item:not(:last-child) {
  margin-right: 32px;
}

.navigation__list-item-link {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.28px;
  color: #0f0101;
}

.navigation__list-item-link:hover,
.navigation__list-item-link:focus {
  color: #1abc9c;
}

/* SLIDER */
.slider {
  position: relative;
}

.slider-background {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.slider::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 2, 0.5);
}

.slider-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text-wrapper {
  width: 738px;
  margin: 0 auto;
  transform: translateY(-50%);
}

.slider-buttons {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

.banner-title {
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 4px;
  white-space: nowrap;
}

.banner-description {
  font-size: 24px;
  line-height: 54px;
  font-weight: 300;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-ctrl {
  border: none;
  width: 104px;
  height: 104px;
  background-color: #4ec6ab;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.65;
}

.slider-ctrl:hover,
.slider-ctrl:focus {
  opacity: 1;
}

.prev {
  float: left;
}

.next {
  float: right;
}



/* CATALOG */

.section-title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
  margin-bottom: 80px;
}

.section-title::after {
  display: block;
  content: "";
  width: 164px;
  border-bottom: 7px solid #1abc9c;
  margin: 27px auto 0px;
}

.section-new-collection {
  background-color: #e9f0fd;
  padding: 95px 0px 100px;
}

.catalog-item {
  display: block;
  width: calc((100% - 3 * 30px) / 4);
  float: left;
}

.catalog-item:hover .catalog-item-link-description,
.catalog-item:focus .catalog-item-link-description {
  background-color: #1abc9c;
}

.catalog-item:hover .overlay,
.catalog-item:focus .overlay {
  opacity: 1;
  visibility: visible;
}

.catalog-item-link-image {
  position: relative;
}

.catalog-item-image {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, 0.55);
  opacity: 0;
  visibility: hidden;
}

.catalog-item:not(:nth-child(4)) {
  margin-right: 30px;
}

.catalog-item-link-description {
  display: block;
  background-color: #323232;
  color: #ffffff;
  line-height: 40px;
}

.catalog-item-title {
  font-size: 18px;
  letter-spacing: -0.36;
  font-weight: 900;
  text-transform: uppercase;
  float: left;
  padding-left: 14px;
}

.catalog-item-price {
  display: block;
  width: 54px;
  background-color: rgba(255, 255, 255, 0.44);
  font-size: 18px;
  letter-spacing: -0.36;
  font-weight: 900;
  text-transform: uppercase;
  float: right;
  text-align: center;
}

.action-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pe-7s-cart {
  margin-right: 20px;
}

.action-buttons-item {
  float: left;
}

.action-buttons-item:not(:nth-last-child(-n + 2)) {
  margin-right: 8px;
}

.action-buttons-item:not(:last-child) {
  margin-bottom: 7px;
}

.action-button {
  border: none;
  border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
  color: #ffffff;
  cursor: pointer;
}

.inform {
  background: transparent;
}

.inform:hover,
.inform:focus {
  background-color: #1abc9c;
}

.add-to-cart {
  width: 166px;
  background-color: #323232;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.add-to-cart:hover,
.add-to-cart:focus {
  background-color: #1abc9c;
}

/* FOOTER */

.footer {
  background-color: #323232;
  text-align: center;
  padding: 34px 0px 30px;
}

.footer-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.32;
  color: #fefefe;
}

.footer-designed-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.32;
  color: #46bfa9;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}