* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Playfair Display;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.container {
    background-color: #fff;
    width: 900px;
    margin: 0 auto;
}

.main-header {
    color: #626262;
    font-weight: 400;
    font-size: 14pt;
    padding-top: 40px;
    text-transform: uppercase;
}

.navigation {}

.navigation-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 75px;
}

.navigation-list-item:not(:last-child) {
    margin-right: 60px;
}

.navigation-list-item-link {
    text-decoration: none;
    display: block;
}

.main-content {
    color: #626262;
}

section-content {}

.section-title-img {
    margin-bottom: 30px;
}

section-list {}

.section-list-item {
    list-style: none;
    width: 420px;
    margin-left: 30px;
    margin-right: 30px;
}

article-content {}

.section-title {
    color: #b4ad9e;
    font-weight: 400;
    font-size: 14pt;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.article-title {
    font-weight: 400;
    font-size: 23pt;
    margin-bottom: 30px;
}

.article-text {
    text-align: inherit;
    line-height: 27px;
    margin-bottom: 150px;
    overflow: hidden;
    height: 80px;
}

button {}

main-footer {}