html {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

body {
  font-family: "Playfair Display";
  color: #626262;
  font-weight: 400;
  /* font-size: 14px; */
}

/* style for all images */
img {
  display: inline-block;
  min-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1 {
  margin: 0px;
}

.navigation {
  vertical-align: middle;
}

.navigation-list {
  /* display: inline-block; */
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

/* .navigation-list-item */
.navigation-list li {
  display: inline-block;
}

/* .navigation-list-item */
.navigation-list li:not(:last-child) {
  margin-right: 100px;
}

.navigation-list-item-link {
  display: block;
  color: #626262;
  text-decoration: none;
  text-align: center;
}

.navigation-list-item-link:hover {
  color: #03a9f4;
}

/* .main-content {
    color: #626262;
} */

.section-title-img {
  margin-bottom: 30px;
}

.section-list {
  font-size: 0;
}

.section-list-item {
  list-style: none;
  width: 470px;
  padding: 35px 25px;
  display: inline-block;
}

.section-list .section-list-item:nth-last-of-type(2n) {
  margin-right: 20px;
}

.section-title {
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.article-title {
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  margin-bottom: 26px;
}

.article-text {
  text-align: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 130px;
  overflow: hidden;
  height: 70px;
}

.load-button {
  display: block;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #626262;
  width: 165px;
  height: 60px;
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 24px;
  color: #626262;
}

.load-button:hover {
  border: 1px solid #03a9f4;
  color: #03a9f4;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
