html {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial";
    color: #555252;
    font-weight: 400;
    outline: 1px solid red;
}


/* style for all images */
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
    /* background-color: rgb(181, 250, 198); */
}

.page-header {
    margin-bottom: 70px;
    padding: 38px 0;
    /* background-color: #1abc9c; */
}

.site-logo {
    display: inline-block;
    font-family: "Roboto", "Arial";
    color: #555252;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
}

.site-logo:first-letter {
    font-weight: 900;
    color: #1abc9c;
}

.site-navigation {
    float: right;
    width: 470px;
    /* background-color: yellow; */
    margin: 0;
    margin-top: 6px;
    padding: 0;
    font-size: 14px;
    list-style: none;
}

.site-navigation li {
    float: left;
}

.site-navigation a {
    color: #0f0101;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 11px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

.site-navigation li:not(:last-child) {
    margin-right: 30px;
}


/* FEATURED PRODUCTS SECTION */

.section {
    margin-bottom: 100px;
}

.section-title {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial';
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
}

.section-title::after {
    content: '';
    display: block;
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
    margin: 28px auto 92px auto;
}

.featured-products {
    margin: 0;
    padding: 0;
    list-style: none;
}

.featured-products img {
    display: block;
}

.featured-products li {
    /* float: left; */
    width: 255px;
    /* outline: 1px solid red; */
}

.featured-products li:not(:nth-child(4n)) {
    margin-right: 30px;
}

.featured-products li:nth-child(-n+4) {
    margin-bottom: 30px;
}

.product-name-container {
    margin: 0;
    padding: 0;
    width: 255px;
    /* height: 40px; */
    background-color: #323232;
    outline: 1px solid red;
}

.item-title {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial";
    font-weight: 900;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.02em;
    outline: 1px solid red;
}

.price {
    float: right;
    width: 54px;
    margin: 0;
    padding: 0;
    background-color: orange;
    font-family: "Roboto", "Arial";
    font-weight: 900;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
    outline: 1px solid red;

    /* background-color: red; */
}


/* LATEST NEWS SECTION */

.latest-news {
    margin: 0;
    padding: 0;
    list-style: none;
}

.latest-news li {
    width: 350px;
    float: left;
}

.latest-news li:not(:nth-child(3n)) {
    margin-right: 30px;
}

/* .latest-news li:nth-child(-n+3) {
    margin-bottom: 80px;
} */

.article-content h3 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Arial';
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.article-content h3::after {
    content: '';
    display: block;
    width: 136px;
    height: 4px;
    background-color: #1abc9c;
    margin-top: 10px;
    margin-bottom: 26px;
}

.article-content img {
    display: block;
    margin-bottom: 10px;
    height: 262px;
    background-size: cover;
    background-position: center;
}


.article-content p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Arial';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 12px;
    letter-spacing: -0.02em;
}

.read-more-button {
    border: none;
    margin: 0;
    padding: 12px 40px;
    width: 160px;
    background-color: #1abc9c;
    border-radius: 3px;
    font-family: 'Open Sans', 'Arial';
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: center;
}



/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}