:root {
  --main-font: 'Montserrat', Tahoma, sans-serif;
  --secondary-font: 'Roboto', Arial, sans-serif;
  --third-font: 'Kaushan Script', sans-serif;
  --main-color: #95e1d3;
  --secondary-color: #f38181;
  --third-color: #fce38a;
  --main-font-color: #333333;
  --secondary-font-color: #999999;
  --main-gradient: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: var(--secondary-font);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.header {
  padding: 30px 0px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background-color: #f38181;
  color: #ffffff;
  text-align: center;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../img/header/bg.jpg);
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/header/bg.jpg);
  background-image: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/header/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .header {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(252, 227, 138, 0.9)),
        to(rgba(243, 129, 129, 0.9))
      ),
      url(../img/header/bg@2x.jpg);
    background-image: -o-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../img/header/bg@2x.jpg);
    background-image: linear-gradient(
        0deg,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../img/header/bg@2x.jpg);
  }
}

.logo {
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
  -webkit-animation: logo-appear 2s ease-out;
  animation: logo-appear 2s ease-out;
}

.logo:hover {
  -webkit-animation: logo-scale 2s ease-out;
  animation: logo-scale 2s ease-out;
}

@-webkit-keyframes logo-appear {
  0% {
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes logo-appear {
  0% {
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes logo-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }
}

@keyframes logo-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 192px;
}

.navigation__elemets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 52px;
}

.navigation__item:not(:last-child) {
  margin-right: 56px;
}

.navigation__item-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.navigation__item-link:hover::after,
.navigation__item-link:focus::after {
  background-color: var(--third-color);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: background-color 0.5s linear,
    -webkit-transform 0.5s linear;
  transition: background-color 0.5s linear, -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear, background-color 0.5s linear;
  transition: transform 0.5s linear, background-color 0.5s linear;
  transition: transform 0.5s linear, background-color 0.5s linear,
    -webkit-transform 0.5s linear;
}

.navigation__item-link:hover,
.navigation__item-link:focus {
  color: var(--third-color);
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.navigation__item-link::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 8px;
  background-color: transparent;
  -webkit-transition: background-color 0.5s linear,
    -webkit-transform 0.5s linear;
  transition: background-color 0.5s linear, -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear, background-color 0.5s linear;
  transition: transform 0.5s linear, background-color 0.5s linear;
  transition: transform 0.5s linear, background-color 0.5s linear,
    -webkit-transform 0.5s linear;
}

.search-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-cart__item:not(:last-child) {
  margin-right: 42px;
}

.search-cart__link {
  fill: #ffffff;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.search-cart__link:hover,
.search-cart__link:focus {
  fill: var(--third-color);
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.search-cart__link-icon_cart {
  width: 18px;
  height: 15px;
}

.search-button {
  border: none;
  background-color: transparent;
  fill: #ffffff;
  cursor: pointer;
  outline: none;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.search-button:hover,
.search-button:focus {
  fill: var(--third-color);
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.search-button__icon {
  width: 18px;
  height: 18px;
}

.header__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 150px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 112px;
}

.header__title_decor {
  display: block;
  font-family: var(--third-font);
  font-weight: 400;
  font-size: 72px;
  line-height: 1.2;
  margin-bottom: 54px;
  text-transform: initial;
}

.header__title_decor-line {
  display: block;
}

.btn {
  display: block;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn_transparent {
  color: #ffffff;
  padding: 10px 28px;
  margin: 0 auto;
  background-color: transparent;
  border: 3px solid #ffffff;
}

.btn_transparent:hover,
.btn_transparent:focus {
  background-color: var(--main-color);
}

/* SERVICES SECTION */

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section__title_decor {
  display: block;
  font-family: var(--third-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 18px;
  text-transform: initial;
}

.section__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 64px;
  text-align: center;
  text-transform: uppercase;
}

.section__title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 40px auto 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__item {
  -ms-flex-preferred-size: calc((1200px - 2 * 20px) / 3);
  flex-basis: calc((1200px - 2 * 20px) / 3);
}

.services__item-icon {
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: left top;
  background-position-x: 20px;
}

.services__item:nth-child(-n + 3) {
  margin-bottom: 98px;
}

.services__item-icon_photography {
  background-image: url(../img/services/icon-photography.svg);
}

.services__item-icon_web-design {
  background-image: url(../img/services/icon-web-design.svg);
}

.services__item-icon_creativity {
  background-image: url(../img/services/icon-creativity.svg);
}

.services__item-icon_seo {
  background-image: url(../img/services/icon-seo.svg);
}

.services__item-icon_css-html {
  background-image: url(../img/services/icon-css-html.svg);
}

.services__item-icon_digital {
  background-image: url(../img/services/icon-digital.svg);
}

.services__item-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.services__item-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--secondary-font-color);
}

/* TEAM SECTION */

.section__text-wrapper {
  max-width: 980px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 92px;
}

.section__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--secondary-font-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  width: calc((1200px - 2 * 30px) / 3);
  text-align: center;
}

.team__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.team__item:hover .overlay,
.team__item:focus .overlay {
  opacity: 1;
  visibility: visible;
}

.team__item-name {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.team__item-position {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color: var(--secondary-font-color);
}

.team__item-image-wrapper {
  position: relative;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 30px;
}

.team__item:hover .team__item-image-wrapper,
.team__item:focus .team__item-image-wrapper {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 10px 10px var(--main-color);
  box-shadow: 10px 10px var(--main-color);
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-gradient);
  opacity: 0;
  visibility: hidden;
}

.overlay:hover,
.overlay:focus {
  opacity: 1;
  visibility: visible;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  background-color: var(--third-color);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.social-list__item:not(:last-child) {
  margin-right: 1px;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--secondary-color);
}

.social-list__link:hover .social-list__link-icon,
.social-list__link:focus .social-list__link-icon {
  fill: #ffffff;
}

.social-list__link-icon {
  fill: var(--secondary-color);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.social-list__link-icon_facebook {
  width: 13px;
  height: 26px;
}

.social-list__link-icon_twitter {
  width: 26px;
  height: 22px;
}

.social-list__link-icon_pinterest {
  width: 21px;
  height: 26px;
}

.social-list__link-icon_instagram {
  width: 26px;
  height: 26px;
}

/* FOOTER */

.footer {
  padding-top: 10px;
  padding-bottom: 12px;
}

.footer-filling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-filling:before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  margin-bottom: 10px;
}

.copyright {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  padding: 10px 0px;
}

.design-link {
  color: var(--secondary-color);
}

.design-link:hover,
.design-link:focus {
  color: var(--main-color);
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form__field {
  border: none;
  border: 1px solid #e7e7e7;
  padding: 0 12px;
  font-size: 15px;
  line-height: 24px;
  font-family: var(--secondary-font);
  font-style: italic;
}

.btn_green {
  min-width: 150px;
  padding: 12px 44px;
  background-color: var(--main-color);
  color: #ffffff;
}

::-webkit-input-placeholder {
  color: #cccccc;
}

::-moz-placeholder {
  color: #cccccc;
}

:-ms-input-placeholder {
  color: #cccccc;
}

::-ms-input-placeholder {
  color: #cccccc;
}

::placeholder {
  color: #cccccc;
}

.btn_green:hover,
.btn_green:focus {
  background-color: var(--secondary-color);
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
